<h1>Respuestas</h1>
<table class="table table-striped datatable">
  <thead>
    <tr>
      <th>Empresa</th>
      <th>Título</th>
      <th>Fecha de creación</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= response.survey.company.present? ? response.survey.company.name : '-' %></td>
        <td><%= response.survey.title %></td>
        <td><%= response.created_at.strftime('%d-%m-%Y') %></td>
        <td class="text-center">
          <%= link_to raw('<i class="fa fa-eye"></i>'),
            survey_response_path(response.survey, response), class: 'btn btn-info', title: 'Ver' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
