<div class="panel panel-default">
  <div class="panel-body">
    <i class="fa fa-check"></i>
    Su encuesta ha sido completada y enviada satisfactoriamente. Gracias por su participación.
  </div>
</div>
