<tr class="nested-fields">
  <td class="text-center"><%= f.input :id, disabled: true, label: false %></td>
  <td>
    <%= f.input :name, input_html: { class: 'form-control',
      placeholder: 'Nombre' }, required: true, label: false %>
  </td>
  <td>
    <%= f.input :description, input_html: { class: 'form-control',
      placeholder: 'Descripción' }, required: true, label: false %>
  </td>
  <td class="text-center">
    <%= link_to_remove_association "<i class='fa fa-trash'></i>".html_safe,
      f, class: 'btn btn-danger', title: 'Eliminar' %>
  </td>
</tr>
