<div style="width:90%;margin:auto">
  <center><h1><%= @survey.title %></h1></center>
  <br><br>
  <p><%= @survey.instructions %></p>
  <br><br>
  <%= link_to 'Comenzar', section1_survey_path, class: 'btn btn-primary pull-right' %>
</div>
